<!DOCTYPE html>
<html lang="en">

<%- include('../partial/head') %>

<body>
<div class="container">
    <h1 class="mb-1"><%= element.header %></h1>
    <div class="card-subtitle text-muted mb-2">
        <%= element.createdAt.toLocaleDateString() %>
    </div>
    <div class="card-text mb-2"><%= element.description %></div>
    <div class="card-text mb-2"><%= element.text %></div>

    <a href="/" class="btn btn-secondary">All Elements</a>
    <form action="<%= '/news/protected-validate/'+element.id %>" method="POST">
        <%- include('partial/pass_field') %>
    </form>
</div>
</body>
</html>